
header{
    color:white;
    background: royalblue;
}
body{
    color:white;
    background: black;
}
h2{
    color:white;
    background: pink;
}
#colortest{                 /* # = id .=class */  
    color: green;
    background: indigo;
 }
